.main {
	position: relative;
	background: url(../img/main_bg.png) no-repeat center bottom $dark;
	background-size: 100%;

	.container {
		max-width: 1280px;
		padding-bottom: 60px;
	}

	.logo {
		width: 312px;
		margin-bottom: 140px;
	}

	.bottom {
		position: absolute;
		width: 100%;
		height: 110px;
		bottom: -110px;
		background: url(../img/main_bg_bottom.png) no-repeat center top;
		background-size: 100%;
		z-index: 1;
	}

	.header {
		padding: 50px 0;

		.hamburger {
			position: relative;
			width: 36px;
			height: 24px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 100px;
			cursor: pointer;
			display: none;
			
			& > div {
				position: absolute;
				width: 100%;
				height: 4px;
				background: #fff;
				border-radius: 4px;
				transition: all .3s;
			}

			&:hover > div {
				background: $blue;
			}

			&:active > div {
				transition: none;
				background: $orange;
			}

			.s2 {
				top: 50%;
				margin-top: -2px;
			}

			.s3 {
				bottom: 0;
			}
		}
	}

	.text_block {
		font-size: 30px;
		font-weight: bold;
		max-width: 500px;
		color: #fff;
		text-transform: uppercase;
		padding: 20px 0;

		&-first {
			border-bottom: 1px solid #fff;
		}

		.blue {
			color: $blue;
		}
	}

	.right_block {
		float: right;

		.enter {
			display: inline-block;
			color: #fff;
			font-size: 18px;
			margin-right: 40px;
			vertical-align: middle;

			.login, .register {
				color: #fff;
				text-decoration: none;
				margin: 0 10px;

				&:hover {
					text-decoration: underline;
				}

				&:active {
					color: $orange;
				}
			}
		}

		.lang {
			position: relative;
			display: inline-block;
			cursor: pointer;

			&:hover .items {
				visibility: visible;
				opacity: 1;
			}

			.items {
				position: absolute;
				top: 0;
				border-radius: 12px;
				overflow: hidden;
				visibility: hidden;
				opacity: 0;
				transition: all .3s;
			}

			.item {
				display: block;
				background: #fff;
				font-size: 18px;
				color: $dark;
				text-decoration: none;
				padding: 8px 12px;
				transition: all .3s;
				
				&:hover {
					background: $blue;
					color: #fff;
				}
				&:active {
					transition: none;
					background: $orange;
				}
			}
		}
		

	}

	.discount {
		text-align: center;
		color: $green;
		font-weight: bold;
		font-size: 30px;
		margin-top: 140px;
		margin-bottom: 20px;
	}

	.buttons {
		@extend %justify;

		.button {
			text-align: center;
		}
	}
}

.soc {
	display: inline-block;
	vertical-align: middle;
	.soc_btn {
		display: inline-block;
		width: 28px;
		height: 28px;
		margin-right: 27px;
		background-repeat: no-repeat;
		background-size: 100%;
		vertical-align: middle;
		border-radius: 100%;
		transition: all .3s;
		border: 1px solid transparent;

		&:hover {
			background-color: $blue;
			border-color: $blue;
			transform: scale(1.1);
		}

		&:active {
			transition: none;
			background-color: $orange;
			border-color: $orange;
		}

		&.blue:hover {
			background-color: #fff;
			border-color: #fff;
		}

		&.blue:active {
			background-color: $orange;
			border-color: $orange;
		}

		&.in {
			background-image: url(../img/icons/soc/in.png);
		}
		&.m {
			background-image: url(../img/icons/soc/m.png);
		}
		&.f {
			background-image: url(../img/icons/soc/f.png);
		}
		&.t {
			background-image: url(../img/icons/soc/t.png);
		}
		&.r {
			background-image: url(../img/icons/soc/r.png);
		}
		&.b {
			background-image: url(../img/icons/soc/b.png);
		}

		&.in.blue {
			background-image: url(../img/icons/soc/in_b.png);
		}
		&.m.blue {
			background-image: url(../img/icons/soc/m_b.png);
		}
		&.f.blue {
			background-image: url(../img/icons/soc/f_b.png);
		}
		&.t.blue {
			background-image: url(../img/icons/soc/t_b.png);
		}
		&.r.blue {
			background-image: url(../img/icons/soc/r_b.png);
		}
		&.b.blue {
			background-image: url(../img/icons/soc/b_b.png);
		}
	}
}

@media (max-width: $tablet) {
	.main {
		
		.container {
			padding-bottom: 20px;
		}

		.logo {
			width: 274px;
			margin: 40px 0;
		}

		.header {
			padding: 20px 0;
		}

		.right_block {
			float: none;
			position: absolute;
			top: 16px;
			right: 20px;

			.enter {
				font-size: 16px;
				margin-right: 0;
			}
		}

		.discount {
			text-align: left;
			margin: 40px 0;
		}

		.buttons {
			text-align: left;
			.button {
				margin-bottom: 20px;
			}
		}
	}

	.soc {
		display: block;
		width: auto;
		text-align: justify;
		margin-top: 20px;

		&:after {
			content: "";
			width: 100%;
			visibility: hidden;
			display: inline-block;
		}
		
		.soc_btn {
			margin: 0;
		}
	}
}