.main {
	position: relative;
	height: 100%;
	min-height: 1060px;
	//overflow: hidden;
	//background: $dark;
	background: url(../img/bg.jpg) no-repeat right top $dark;
	background-size: auto 100%;
	margin-bottom: 140px;

	.video_bg {
		position: absolute;
		top: 0;
		right: 0;
		//width: 100%;
		height: 100%;
	}

	.fade {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		background: rgba(7,21,69,.6);
	}

	.container {
		max-width: 1280px;
		height: 100%;
	}

	.modultrade_btn {
		transition: transform 1s, opacity 1s;

		&.delay {
			transition-delay: 2.6s;
		}
	}

	.logo {
		width: 312px;
		margin-bottom: 30px;
		margin-top: 160px;
		transition: all 1s;
	}

	.rating_block {
		position: absolute;
		transition: opacity 1s;
		top: 150px;
		right: 20px;

		.rating {
			display: block;
			margin-bottom: 10px;
		}
	}

	.text_block {
		font-size: 30px;
		font-weight: bold;
		max-width: 500px;
		color: #fff;
		text-transform: uppercase;
		padding: 30px 0;
		transition: all 1s;

		&-first {
			border-bottom: 1px solid #fff;
		}

		.blue {
			color: $blue;
		}

		.subtext {
			margin-top: 55px;
			color: $green;
			font-size: 24px;
		}
	}

	.discount {
		position: absolute;
		width: 100%;
		bottom: 180px;

		text-align: center;
		color: $green;
		font-weight: bold;
		font-size: 30px;

		transition: all 1s;
		transition-delay: 2.4s;
		//margin-top: 90px;
		//margin-bottom: 20px;
	}

	.buttons {
		position: relative;
		text-align: center;
		margin-top: 50px;
		.button {
			font-size: 20px;
			&.delay {
				transition: all 1s cubic-bezier(.35,.69,.51,1.26);
			}
		}
	}

	.soc {
		margin-top: 60px;
		text-align: center;
	}

	.events {
		position: relative;
		text-align: center;
		margin-top: 60px;
		transition: opacity 1s;

		.headline {
			font-size: 26px;
			color: #fff;
			margin-bottom: 60px;
		}
		
		.event {
			position: relative;
			display: inline-block;
			width: 474px;
			height: 274px;
			border-radius: 10px;
			border: 1px solid $blue;
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: center top;
			margin: 0 40px;

			.title {
				position: absolute;
				width: 100%;
				bottom: 0;
				font-size: 24px;
				line-height: 35px;
				color: #fff;
				text-align: center;
			}

			&.event1 {
				background-image: url(../img/events/event1.png);
			}
			&.event2 {
				background-image: url(../img/events/event2.png);
			}
		}
	}
}


.main.hide {
	.logo {
		opacity: 0;
		transform: translateY(-20px);
	}
	.rating_block {
		opacity: 0;
	}
	.text_block {
		opacity: 0;
		transform: translateY(-20px);
	}

	.soc {
		.tel {
			transform: scale(0);
		}
		.soc_btn {
			transform: scale(0);
		}
	}

	.modultrade_btn {
		transform: translateX(-20px);
		opacity: 0;
	}

	.discount {
		opacity: 0;
		transform: translateX(-100px) scale(.6);
	}

	.buttons .button {
		opacity: 0;
		transform: scale(.4);
	}

	.events {
		opacity: 0;
	}
}



@media (max-aspect-ratio: 16/9) {
	.main {
		background-size: auto 100%;
		.video_bg {
			width: auto;
			height: 100%;
		}
	}
}

@media (max-width: $tablet) {
	.main {
		height: auto;
		background-position: center;
		margin-bottom: 0;
		.video_bg {
			display: none;
		}
		.fade {
			background: rgba(7,21,69,.8);
		}
		.container {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.logo {
			width: 274px;
			margin: 0 0 40px 0;
		}

		.rating_block {
			position: relative;
			top: auto;
			right: auto;
			margin-bottom: 20px;
		}

		.discount {
			position: relative;
			bottom: auto;
			text-align: left;
			margin: 40px 0;
		}

		.soc {
			.soc_btn {
				margin: 0 3px;
			}
		}

		.buttons {
			position: relative;
			bottom: auto;
			padding: 0;
			text-align: left;
			.button {
				margin-bottom: 20px;
			}
		}

		.events {
			position: relative;
			text-align: center;
			margin-top: 40px;
			overflow: hidden;

			.headline {
				font-size: 22px;
				margin-bottom: 20px;
			}
			
			.event {
				width: 278px;
				height: 174px;
				margin-bottom: 20px;
				background-size: 100%;
				margin: 0 0 20px 0;

				.title {
					font-size: 17px;
				}
			}
		}
	}
}