.roadmap {
	position: relative;
	background: url(../img/bg6.png) no-repeat top;
	background-size: 100%;
	padding-bottom: 300px;

	.container {
		position: relative;
		width: 1116px;
		margin: auto;
	}

	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		background: url(../img/bg3.png) no-repeat bottom;
		background-size: 100%;
	}

	.scheme {
		margin: 40px auto 0 auto;

		.img {
			width: 100%;
		}

		.b {
			position: absolute;
			width: 70px;
			height: 70px;

			&:hover .info {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}

			&.r .info {
				right: 100%;
				top: 0;
				bottom: auto;
			}
		}

		.b1 {
			top: 529px;
			left: 19px;
			
		}
		.b2 {
			top: 484px;
			left: 134px;
		}
		.b3 {
			top: 432px;
			left: 255px;
		}
		.b4 {
			top: 440px;
			left: 378px;
		}
		.b5 {
			top: 432px;
			left: 500px;
		}
		.b6 {
			top: 440px;
			left: 637px;
		}
		.b7 {
			top: 432px;
			left: 780px;
		}
		.b8 {
			top: 340px;
			left: 848px;
		}
		.b10 {
			top: 252px;
			left: 950px;
		}
		.b12 {
			top: 181px;
			left: 1080px;
		}
		.b9 {
			top: 378px;
			left: 926px;
		}
		.b11 {
			top: 338px;
			left: 1040px;
		}

		.info {
			pointer-events: none;
			position: absolute;
			width: 230px;
			padding: 20px;
			bottom: 100%;
			border: 2px solid $blue;
			background: #fff;
			transition: all .5s;
			opacity: 0;
			visibility: hidden;
			box-shadow: 0 2px 8px rgba(0,0,0,.3);
			transform: translateY(20px);
		}
	}

	.numbers {
		@extend %justify;

		.triangle {
			
		}
	}

	.hide {
		.number {
			opacity: 0;
			transform: scale(.5);
		}
		.triangle {
			opacity: 0;
		}
	}

	.number {
		position: relative;
		width: 320px;
		text-align: center;
		background: #fff;
		box-shadow: 0 0 8px rgba(0,0,0,.3);
		padding: 36px;
		box-sizing: border-box;
		border-radius: 6px;
		transition: all .5s;

		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 104%;
			height: 100%;
			bottom: -3%;
			left: -2%;
			background: linear-gradient(to top, #fff 30%, rgba(255,255,255,0));
		}

		&.bottom {
			&:before {
				top: -4%;
				background: linear-gradient(to bottom, #fff 30%, rgba(255,255,255,0));
			}
		}

		.icon {
			position: relative;
			height: 160px;

			.user {
				position: absolute;
				left: 50%;
				margin-left: -25px;
				bottom: -20px;
			}
		}

		.value {
			position: relative;
			font-size: 36px;
			font-weight: bold;
			color: $blue;
			margin-top: 30px;
		}

		.more {
			position: absolute;
			width: 100%;
			color: #cdd0da;
			left: 0;
			bottom: -30px;
		}

		.ball {
			position: absolute;
			width: 12px;
			height: 12px;
			border: 1px solid #cdd0da;
			border-radius: 100%;
			background: #fff;
			top: 246px;

			&.right {
				right: -8px;
			}
			&.left {
				left: -8px;
			}
		}
	}

	.triangle {
		height: 260px;
		width: 14px;
		background: url(../img/icons/triangle.svg) no-repeat center bottom;
		transition: opacity 1s;
		transition-delay: 1s;
	}
}

@media (max-width: $tablet) {
	.roadmap {
		padding-bottom: 0;
		.scheme {
			margin-top: 0;

			.b {
				display: none;
			}
		}

		.number {
			width: auto;
			display: block;
			margin-bottom: 40px;

			.ball {
				display: none;
			}

			.more {
				bottom: 10px;
			}
		}
		.triangle {
			display: none;
		}
	}
}